<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta  name="description" content="Personal blog about tech, programming, and leadership."/>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
</head>
<body>
<header>
    <hgroup>
        <h1>Julien Dedek</h1>
        <h2>Engineering Management 🤝 Software Development</h2>
    </hgroup>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/tech">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    {{template "content" .}}
</main>
<footer>
    <small><a href="mailto:jdedek@posteo.de">Julien Dedek</a> - Built with <a href="https://go.dev/">Go</a> and <a href="https://picocss.com">Pico</a> ♥</small>
</footer>
</body>
</html>
