{{define "content"}}
    <h1>About me</h1>
    <section>
        <img src="assets/img/julien.jpeg" alt="A photo of me" width="200" height="200" >   
    </section>
    <section>
        <p>👋 Ciao I'm Julien, and welcome to my site.</p>
        <p>💻 I'm an engineering manager and software engineer working with Django and Go.</p>
        <p>🇩🇪 I'm based in Düsseldorf,DE.</p>
        <p>📷 I love photography and traveling.</p>
        <p>🍕 I love to make neapolitan pizza from scratch.</p>
    </section>
{{end}}
